body {
    background: linear-gradient(135deg, #9370db, #ff69b4); /* Gradient background */
    color: #333; /* Dark gray text */
  }
  section {
    background-color: rgba(255, 255, 255, 0.9); /* White background with transparency */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  h2 {
    color: #007bff; /* Blue heading */
  }

  .tg {
  border-collapse: collapse;
  border-spacing: 0;
  }

  .tg td {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: 'Andale Mono', monospace;
      font-size: 12px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }

  .tg th {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: 'Andale Mono', monospace;    
      font-size: 12px;
      font-weight: normal;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
  }

  .tg .tg-0lax {
      text-align: left;
      vertical-align: top;
  }

  .audio-feature {
      color: purple;
  }